@font-face {
    font-family: DejaVuSansMono;
    src: url(DejaVuSansMono.ttf);
}
@font-face {
    font-family: DejaVuSansMono-Bold;
    src: url(DejaVuSansMono-Bold.ttf);
}
*{ box-sizing:border-box; }
body, html{
	margin:0px;
	height:100%;
	overflow-y:none;
}
.CodeMirror{
	height:100%;
	position:relative;
	z-index:999;
	/*font-size:12px;*/
}
.CodeMirror-matchingbracket{
	text-decoration:none !important;
	border-bottom:1px solid white;
}
.tabs{
	height:37px;
	width:100%;
	background-color:#111;
}
.gradient{
	background: linear-gradient(270deg, #05c392, #2871c6, #c67628, #c6288f);
	animation: AnimationName 30s ease infinite;
	background-size: 800% 800%;
}
.bg-image{
	background-image:url(theme-images/space.jpg);
	background-size:cover;
	background-position:center;
}
#tabs{
	height:37px;
	width:calc(100% - 35px);
	padding-top:7px;
}
#tabs>div, .tabs>div{ float:left; }
#editor{
	height:calc(100% - 57px);
	width:100%;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.bottom-bar{
	width:100%;
	height:20px;
	background-color:#222;
}
#language{
	float:right;
	height:20px;
	border:0px;
	color:white;
    font-family: DejaVuSansMono;
    font-size:12px;
    background-color:#222;
    margin-right:5px;
}
#language:focus{ outline:none; }
.box{
	height:37px;
	width:35px;
}
.tab{
	height:30px;
	line-height:28px;
	text-align:center;
	min-width:20px;
    color: #ffffec;
    font-family: DejaVuSansMono;
    font-size:12px;
    background-color:#222;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position:relative;
	cursor:pointer;
}
.tab:before {
	display:block;
	content: '';
	border-top: solid 2px #555;
	border-bottom: solid 0.5px #555;
	width:100%;
	transform: scaleX(0.8);
	opacity:0;
	transition: transform 100ms ease-in-out;
}
.tab:hover:before{ 
	transform: scaleX(1);
	opacity:1;
}
.tab:hover{
	position:relative;
	z-index:666;
}
.name{ padding-left:10px; }
.active{
	background-color:#2c2c2c !important;
    border-color:#7aadff !important;
    z-index:888;
    border-top:2px solid;
    padding-top:1px;
    border-color:#68B4E1;
}
.active:before { content: none; }
/*
.tab:hover{
	border-color:#555;
	background-color:#333;
}*/
.close{
	margin-left:5px;
	margin-right:10px;
	cursor:pointer;
    font-family: DejaVuSansMono-Bold;
    color:#cdcdcd;
}
.close:hover{ color:white; }
.tabcontent{ height:100%; }
.CodeMirror-gutters{ min-width:35px; }
.notif{
	padding:10px;
	border:1px solid #222;
	background-color:#333;
	color:#dedede;
    font-family: DejaVuSansMono;
	min-width:20px;
	display:none;
	position:absolute;
	bottom:40px;
	left:50%;
	transform:translate(-50%, 0%);
	font-size:14px;
	z-index:99999;
}
#loader{
	height:100vh;
	width:100vw;
	position:absolute;
	z-index:999999;
	background-color:#222;
}
.loader {
	border: 5px solid #2c2c2c;
	border-radius: 50%;
	border-top: 5px solid #dedede;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}
.holder{
	min-height:10px;
	min-width:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.console{
	width:300px;
	height:200px;
	position:absolute;
	right:10px;
	bottom:10px;
	display:none;
	z-index:1000;
	background-color:#222;
	opacity:0.5;
	flex-direction:column;
    font-family: DejaVuSansMono;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.console:hover{ opacity:1; }
.console-bar{
	width:100%;
	height:30px;
	background-color:#333;
}
#close-console{
	float:right;
	height:20px;
	width:20px;
	line-height:20px;
	text-align:center;
	background-color:#444;
	color:white;
	margin-top:5px;
	margin-right:5px;
	border:0px;
	cursor:pointer;
}
.console-body{
	height:calc(100% - 30px);
	width:100%;
}
#console-text{
	width:100%;
	height:calc(100% - 20px);
	color:white;
	padding:5px;
	font-size:10px;
}
#console-input{
	width:100%;
	height:20px;
	font-size:10px;
	border:0px;
	background-color:#333;
	padding-left:5px;
	padding-right:5px;
	color:white;
}
#console-input:focus{ outline:none; }
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}